@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

#lvl-header {
  justify-content: space-between;
  border-bottom: 1px solid #f0ebe3;
  overflow: hidden;
}

#lvl-gnb {
  justify-content: space-between;
  overflow: hidden;
  border-top: 1px solid #f0ebe3;
}

.wrap-chatting-room-list .room-title {
  font-size: 16px;
  font-weight: 600;
  max-width: 80%;
}

.wrap-chatting-room-list #lvl-chatting-room-item {
  padding: 8px;
  border-radius: 8px;
  background-color: #f8f4e1;
}

.wrap-chatting-room-list .room-enter-count,
.wrap-chatting-room-list .room-desc {
  font-size: 14px;
  color: #888;
  max-width: 80%;
}
.wrap-chatting-room-list .room-enter-count,
.wrap-chatting-room-list .room-status-badge {
  display: inline-flex;
  margin-left: auto;
  align-items: center;
  flex-shrink: 0;
}

.wrap-chatting-room-list .room-enter-count {
  margin-bottom: auto;
  font-size: 12px;
}

.wrap-chatting-room-list .room-status-badge {
  border-radius: 30px;
  padding: 0 8px;
  color: #fff;
  background-color: #b47269;
  font-size: 12px;
}

.wrap-chatting-room-list .box-info.mid {
  margin: 4px 0;
}

.wrap-chatting-room-list #lvl-chatting-room-item {
  margin: 12px 0;
}
.wrap-chatting-room-list #lvl-chatting-room-item:first-child {
  margin-top: 0;
}

#lvl-interest-badge {
  display: inline-block;
  font-size: 12px;
  height: 20px;
  color: #7794ee;
  text-decoration: underline;
  cursor: pointer;
  margin-right: 8px;
}

#lvl-interest-badge::before {
  content: '#';
}
.user-thumbnail {
  background-image: url('https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png');
  width: 20px;
  height: 20px;
  display: inline-block;
  background-size: cover;
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid #ddd;
  flex-shrink: 0;
}

.wrap-entry-thumbnails {
  margin-left: auto;
}

main {
  @media (max-width: 639px) {
    padding: 1rem;
  }

  @media (min-width: 640px) and (max-width: 1023px) {
    padding: 3rem;
  }

  @media (min-width: 1024px) {
    padding: 6rem;
  }
}
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: var(--foreground-rgb) var(--background-start-rgb);
}
